/*      Header      */
.brand-logo{
    margin-left: 30px;
}
.brand-logo img{
    width: 2.1rem;
    margin-right: 10px;
}
nav{
    background-image: url('../images/navBackground.jpg');
    background-repeat: repeat;
}
.brand-logo{
    font-family: 'Anton';
}
.nav2-title{
    font-size: 40px !important;
    font-family: 'Amatic SC';
}
.sidenav-trigger i{
    font-size: 1.4em;
}
.cart-info{
    padding-top: 5px;
    margin-bottom: 30px;
}
nav .tabs .tab a{
    transition: color 150ms, background-color 150ms !important;
}
nav .tabs .tab a:hover{
    color: #1f1f1f !important;
    background-color: #eeeeee;
}
@media screen and (max-width: 992px){
    .brand-logo{
        margin-left: 0;
    }
}

/*      Footer      */
.contact-title{
    font-weight: 400;
}
.contact-number{
    font-weight: 400;
}
.footer-description{
    font-weight: 300;
    font-size: 1.1em;
}
.footer-description a{
    color: inherit;
}
.credits{
    color: inherit;
    font-weight: 500;
}
.credits-link {
    font-size: 0.7rem !important;
}
.footer-social a{
    color: #FFFFFF;
    margin-right: 20px;
    font-size: 1.3em;
}
.avatar a i{
    font-size: 1.5em;
}
.avatar .secondary-content {
    color: #03a9f4;
}

/*      Inputs     */
#search{
    margin-top: 35px;
    border: 3px solid #FFF;
    font-size: 1.4em !important;
}
#search:focus{
    border: 3px solid #FFF !important;
    box-shadow: 0 0 !important;
}
.input-field input:focus + label, textarea:focus + label, .input-field .prefix.active {
    color: #2196f3 !important;
}
.input-field input, textarea {
    font-size: 1.1em !important;
    color: #454545;
    padding: 3px !important;
}
.input-field input:focus, textarea:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}
#contact-form input, #contact-form textarea{
    border: none;
}
#contact-form .input-field input:focus, #contact-form textarea:focus{
    border: none !important;
    box-shadow: none !important;
}
#contact-form textarea{
    height: 100px;
    padding-top: 15px !important;   
}
#review{
    height: 150px;
}

/*      Homepage        */
.social-icons{
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.social-icons i{
    color: #FFFFFF;
    margin: 10px 10px;
}
.social-icons h6{
    line-height:1.8rem;
}

/*      Reviews     */
.reviews{
    border:none;
    margin-top: 30px;
}
.reviews li{
    margin-top: 20px !important;
}
.reviews .title{
    font-weight: 400;
    font-size: 22px;
}
.reviews p{
    font-weight: 300;
    font-size: 1.1em;
}

/*      About       */
#details{
    padding-bottom: 45px;
    padding-top: 45px;
    margin-bottom: 70px;
}
#details p{
    font-size: 1.05em;
    text-align: justify;
}
#photos img{
    width: 70%;
}
#photos div{
    margin-bottom: 45px;
}
@media screen and (max-width: 600px){
    #photos img{
        width: 50%;
    }
}

/*      Cards       */
.item-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.card-title{
    font-size: 1em !important;
}
.card-content{
    height: 110px !important;
}
.card-image .btn-floating i{
    font-size: 1.3rem !important;
}
@media screen and (max-width: 600px){
    .card-title{
        font-size: 1.6em !important;
    }
}

/*      Product Page        */
.product-details{
    margin-top: 60px;
}
.product-details img{
    border: 1px solid #EEEEEE;
}
.product-details button{
    margin-top: 15px;
}
.product-details li{
    list-style-type: circle !important;
}

/*      Cart        */
.item-card{
    margin-bottom: 40px;
}
.quantity-meter{
    padding-bottom: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quantityButton{
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
}
.quantityButton:hover{
    opacity: 0.8;
}
blockquote{
    border-left: 5px solid #f44336
}